__pycache__/
*.py[cod]
*$py.class

.venv/

.env
.env.*
!.env.example

*.log
uvicorn.log

*.db
*.sqlite
*.sqlite3

alembic/versions/*.pyc


.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/


playwright/.cache/
ms-playwright/
*.webm
*.png


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/


logs/*.log
tmp/
temp/

.ipynb_checkpoints/

*.html
/storage/http/*.json
/storage/headless/*.json
/storage/ui/*.json
