{
    "task_id": "ui_ddcb1351-5b53-4539-8f80-1a1cce6175fb",
    "status": "completed",
    "mode": "ui",
    "query": "Джентельмени",
    "result": {
        "opened_url": "https://ua.kinorium.com/1670490/"
    }
}