{
    "task_id": "headless_f2f1c9d7-2463-4ef5-b89f-7433cf65002c",
    "status": "completed",
    "mode": "headless",
    "query": "маверік",
    "result": {
        "title": "Меверік",
        "original_title": "Maverick",
        "year": 1994,
        "rating": 7.7,
        "genres": [
            "Бойовик",
            "Пригоди",
            "Комедія",
            "Вестерн"
        ],
        "countries": [
            "США"
        ],
        "duration_minutes": 127,
        "description": "Опис Брет Меверік — чарівний картяр, який намагається заробити собі статки грою в покер. Він зваблює дам своїми манерами, і вселяє страх недругам своєю майстерною стрільбою з пістолета. Одного разу Брет вирішує брати участь в «Змаганні всіх річок з покеру», в якому головним призом буде нагорода в півмільйона доларів. Внесок за участь становить 25 тисяч, а Брету трохи не вистачає до цієї суми, і тому він вживає всіх можливих засобів для того, щоб потрапити на турнір.",
        "production_studios": [
            "Warner Bros.",
            "Icon Productions",
            "Icon Entertainment International",
            "Donner/Shuler-Donner Productions"
        ],
        "actors": [
            "Мел Ґібсон",
            "Джоді Фостер",
            "Джеймс Ґарнер",
            "Грем Грін",
            "Альфред Моліна",
            "Джеймс Коберн",
            "Даб Тейлор",
            "Джеффрі Льюїс",
            "Пол Лоуренс Сміт",
            "Ден Гедайя"
        ],
        "kinorium_url": "https://ua.kinorium.com/100576/"
    }
}