{
    "task_id": "http_2868559d-adf6-4bf6-9124-4a7735572fb8",
    "status": "completed",
    "mode": "http",
    "query": "бойовик",
    "result": [
        {
            "title": "Трон: Арес",
            "link": "https://ua.kinorium.com/589257/"
        },
        {
            "title": "Вкрадена",
            "link": "https://ua.kinorium.com/1451422/"
        },
        {
            "title": "Одна битва за іншою",
            "link": "https://ua.kinorium.com/10867004/"
        },
        {
            "title": "Хижак: Дикі землі",
            "link": "https://ua.kinorium.com/11084993/"
        },
        {
            "title": "Нескоримий: Дорога помсти",
            "link": "https://ua.kinorium.com/11968521/"
        },
        {
            "title": "Сімейний план 2",
            "link": "https://ua.kinorium.com/11998275/"
        },
        {
            "title": "Граф Дракула: Історія кохання",
            "link": "https://ua.kinorium.com/10942863/"
        },
        {
            "title": "Профі",
            "link": "https://ua.kinorium.com/2093948/"
        },
        {
            "title": "Ущелина",
            "link": "https://ua.kinorium.com/9090713/"
        },
        {
            "title": "Спустошення",
            "link": "https://ua.kinorium.com/2721923/"
        },
        {
            "title": "Місія неможлива: Фінальна розплата",
            "link": "https://ua.kinorium.com/2016602/"
        },
        {
            "title": "Балерина",
            "link": "https://ua.kinorium.com/1624712/"
        },
        {
            "title": "Всезнаючий читач",
            "link": "https://ua.kinorium.com/10970138/"
        },
        {
            "title": "Джекпот!",
            "link": "https://ua.kinorium.com/10551620/"
        },
        {
            "title": "Всесвітній потоп",
            "link": "https://ua.kinorium.com/10777193/"
        },
        {
            "title": "Тигр",
            "link": "https://ua.kinorium.com/10958705/"
        },
        {
            "title": "Людина, що біжить",
            "link": "https://ua.kinorium.com/2721539/"
        },
        {
            "title": "Холодна пастка",
            "link": "https://ua.kinorium.com/2890227/"
        },
        {
            "title": "Ручна поклажа",
            "link": "https://ua.kinorium.com/9751233/"
        },
        {
            "title": "Брудна гра",
            "link": "https://ua.kinorium.com/8769161/"
        },
        {
            "title": "Супермен",
            "link": "https://ua.kinorium.com/1595221/"
        },
        {
            "title": "Дюна: Частина друга",
            "link": "https://ua.kinorium.com/2808886/"
        },
        {
            "title": "Електричний штат",
            "link": "https://ua.kinorium.com/2598297/"
        },
        {
            "title": "Край тіні",
            "link": "https://ua.kinorium.com/11931323/"
        },
        {
            "title": "Як приборкати дракона",
            "link": "https://ua.kinorium.com/10285159/"
        },
        {
            "title": "Гладіатор 2",
            "link": "https://ua.kinorium.com/1708456/"
        },
        {
            "title": "ХітПіг! Розшук домашніх тварин",
            "link": "https://ua.kinorium.com/2623061/"
        },
        {
            "title": "Ліло і Стіч",
            "link": "https://ua.kinorium.com/2361857/"
        },
        {
            "title": "Поліцейський із Беверлі-Гіллз: Аксель Ф.",
            "link": "https://ua.kinorium.com/715299/"
        },
        {
            "title": "Мистер Робот",
            "link": "https://ua.kinorium.com/12195535/"
        },
        {
            "title": "Світ Юрського періоду: Відродження",
            "link": "https://ua.kinorium.com/10923139/"
        },
        {
            "title": "Військовополонений",
            "link": "https://ua.kinorium.com/11807674/"
        },
        {
            "title": "Хижак: Вбивця вбивць",
            "link": "https://ua.kinorium.com/12206167/"
        },
        {
            "title": "Поганці 2",
            "link": "https://ua.kinorium.com/10775541/"
        },
        {
            "title": "Грішники",
            "link": "https://ua.kinorium.com/11001432/"
        },
        {
            "title": "Кейпоп-мисливиці на демонів",
            "link": "https://ua.kinorium.com/2728201/"
        },
        {
            "title": "Клык 2: Город волков",
            "link": "https://ua.kinorium.com/12379315/"
        },
        {
            "title": "Злодії 2",
            "link": "https://ua.kinorium.com/1660800/"
        },
        {
            "title": "Граф Монте-Крісто",
            "link": "https://ua.kinorium.com/10247386/"
        },
        {
            "title": "Бджоляр",
            "link": "https://ua.kinorium.com/2816102/"
        },
        {
            "title": "Міністерство неджентльменської війни",
            "link": "https://ua.kinorium.com/2564598/"
        },
        {
            "title": "Красный шелк",
            "link": "https://ua.kinorium.com/10556875/"
        },
        {
            "title": "Злой город",
            "link": "https://ua.kinorium.com/2025271/"
        },
        {
            "title": "Майор Грім: Гра",
            "link": "https://ua.kinorium.com/10273937/"
        },
        {
            "title": "Громовержці*",
            "link": "https://ua.kinorium.com/9601466/"
        },
        {
            "title": "Загін дельта форс",
            "link": "https://ua.kinorium.com/9223194/"
        },
        {
            "title": "Нечжа перемагає Царя драконів",
            "link": "https://ua.kinorium.com/11995865/"
        },
        {
            "title": "Рольові ігри",
            "link": "https://ua.kinorium.com/2723811/"
        },
        {
            "title": "Манкімен",
            "link": "https://ua.kinorium.com/2448171/"
        },
        {
            "title": "Панда патруль",
            "link": "https://ua.kinorium.com/10576291/"
        }
    ]
}